#inner_layout_bottom {
  box-sizing: border-box;
  display: block;
  justify-content: space-between;
  margin: 0px;
  width: auto;
  height: 40%;
  visibility: visible;
}

ul#south_tab.nav_tabs {
  background-color: #1d2332;
}

#south_tab {
  border-top: 1px solid #0e1525;
  border-left: 1px solid #0e1525;
  flex-wrap: nowrap;
  min-height: 48px;
  margin-bottom: -1px;
}
#south_tab > li {
  width: fit-content;
  z-index: 99;
  border-right: solid 1px;
  cursor: pointer;
}

#south_tab > li > a.active {
  background-color: #2c3243;
  padding-top: 0;
  padding-bottom: 0;
  border-top: solid 2px #609ae2;
  height: 100%;
  opacity: 1 !important;
}
#south_tab > li > a {
  color: #c3c8cc;
  padding: 0px 40px 0 40px;
  z-index: 0;
  border-bottom: none;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  line-height: 21px;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
}

#south_tab > li > a:hover {
  background-color: #2c3243;
  opacity: 0.5;
}

#south_tab .tab_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
  -webkit-box-flex: 1;
  flex: 1;
}

#south_tab #south_tab_close_btn {
  color: #ced0da;
  z-index: 99;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 0.875rem;
}

#south_tab > button {
  width: 24px;
  height: 24px;
  padding: 3px;
  background: transparent;
  border: none;
  position: absolute;
  right: 1px;
  outline: none;
  box-shadow: none;
}
