:root{ 
--contexify-menu-bgColor: #131a2c;
--contexify-separator-color: #393f49;
--contexify-item-color: #c2c8cc;
--contexify-activeItem-color: #fff;
--contexify-activeItem-bgColor: #3498db;
--contexify-menu-minWidth: 145px;
}

