#inner_layout_top {
  box-sizing: border-box;
  display: block;
  justify-content: space-between;
  margin: 3px;
  width: auto;
  height: 100vh;
  visibility: visible;
  box-sizing: content-box;
}

ul#north_tab.nav_tabs {
  background-color: #1d2332;
  overflow-x: overlay; /*콘텐츠 위에 위치하고 싶어 넣었지만 적용이 안 되고 밑에 추가된 형식*/
}

ul#north_tab.nav_tabs::-webkit-scrollbar {
  height: 10px;
}

ul#north_tab.nav_tabs::-webkit-scrollbar-track {
  background: #1d2332;
}

ul#north_tab.nav_tabs::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 16px;
}

ul#north_tab.nav_tabs:hover::-webkit-scrollbar-thumb {
  background: #2c3243;
}

ul#north_tab.nav_tabs::-webkit-scrollbar-thumb:hover {
  background: #414244;
}

#north_tab {
  border-top: 1px solid #0e1525;
  border-left: 1px solid #0e1525;
  flex-wrap: nowrap;
  min-height: 48px;
  margin-bottom: -1px;
}

#north_tab > li > a:hover {
  background-color: #2c3243;
  opacity: 0.5;
  border-radius: 16px;
}

#north_tab #north_tab_close_btn {
  z-index: 99;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

#north_tab > li {
  border: solid 2px #2c3243;
  cursor: pointer;
  border-radius: 16px;
}

body.no-scroll {
  overflow: hidden;
}
